@import 'partials/_functions.scss';
@import 'partials/_variables.scss';
@import 'partials/_mixins.scss';

/*----------- Main Rules------------*/
* {
  box-sizing: border-box;
}
h1 {
  font-family: $font-stack-primary;
  font-weight: lighter;
}
p, a, h3 {
  font-family: $font-stack-primary;
  font-size: .80em;
}

/*-----------------------------
       Grid Display
-----------------------------*/
.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 50% 50%;
  grid-template-areas:
      "nav info chart1"
      "nav charts charts";
}

.nav {
  padding-left: 47px;
  padding-top: 65px;
  grid-area: nav;
}

.info {
  grid-area: info;
  padding-left: 2em;
}

.chart1 {
  max-width: 80%;
  max-height: 80%;
  grid-area: chart1;
  margin-top: 59px;
}

.charts {
  grid-area: charts;
  margin: auto;
  min-width: 95%;
}
.info-grid p {
  line-height: 1.1em;
}

/**-----------------------------
      Navigation styling
*-----------------------------*/

#navigation {
  color: white;
  background-color: $color-navigation;
  p {
    opacity: .6;
  }
  a {
    color: white;
    text-decoration: none;
  }
}

.welcome {
  padding-bottom: 30px;
}

.metrics,
.information {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  p {
    padding-bottom: 26px;
  }
  a {
    padding-bottom: 2.5em;
  }
}

/*-----------------------------
      Info styling
-----------------------------*/

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
      "date1 date2 date2"
      "account1 account2 account2"
      "speciality1 speciality2 speciality2"
      "profile1 profile2 profile2";
}

.date1{
  grid-area: date1;
  padding-bottom: 0;
}
.date2 {
  grid-area: date2;
  line-height: 2em;
  padding-bottom: 0;
}
.account1 {
  grid-area: account1;
  padding-bottom: 0;
}
.account2 {
  grid-area: account2;
  padding-bottom: 0;
}
.speciality1 {
  grid-area: speciality1;
  padding-bottom: 0;
}
.speciality2 {
  grid-area: speciality2;
  line-height: 2em;
  padding-bottom: 0;
}
.profile1 {
  grid-area: profile1;
  padding-bottom: 0;
}
.profile2 {
  grid-area: profile2;
  padding-bottom: 0;
}

/*****************************
     Charts Styling
******************************/
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blue::before {
  @include beforeCubes;
  background: blue;
}

.green::before {
  @include beforeCubes;
  background: green;
}
.yellow::before {
  @include beforeCubes;
  background: yellow;
}
.red::before {
  @include beforeCubes;
  background: red;
}
.purple::before {
  @include beforeCubes;
  background: purple;
}
.gray::before {
  @include beforeCubes;
  background: gray;
}

.charts div h3 {
  padding-top: 1.2em;
}
/*-------------------------------------
              Bar Styling
-------------------------------------*/

.avg {
  @include bottomBars;
  grid-template-columns: $item1 $item2 $item3 $item4 $item5 $item6;
}
.caut {
  @include bottomBars;
  grid-template-columns: $item7 $item12 $item8 $item9 $item10 $item11;
}
.comp {
  @include bottomBars;
  grid-template-columns: $item13 $item14 $item15 $item16 $item17 $item18;
}
.confident {
  @include bottomBars;
  grid-template-columns: $item19 $item20 $item21 $item22 $item23 $item24;
}

.item1 {
  background: blue;
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}

.item2 {
  background: green;
}
.item3 {
  background: yellow;
}
.item4 {
  background: red;
}
.item5 {
  background: purple;
}
.item6 {
  background: gray;
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}
