//--------------Mixins---------------/
@mixin bottomBars($w) {
  display: grid;
  min-height: $bar-height;
  min-width: $w;
}

@mixin beforeCubes {
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 7px;
  transform: rotate(45deg);
}
